/**
h3{
    color: blueviolet;
}

.unique
{
    color: chartreuse;
    font-weight: bolder;
}
h1.unique,li.unique 
{
    color: black;
    font-weight: inherit;

}
li em{
    color: brown;
}
h1+img{
    font-size:large;
}
body h1.unique{
    color: black;
    background-color: darkgray;
    font-weight: 4px;
    text-shadow: solid black;
    text-align: center;
    
    border-radius: 50%;
    text-transform: uppercase;
}

body h1.unique:hover{
    background-color: blanchedalmond;
    color: aliceblue;

}

.right{
    display:ruby;
    background-color: antiquewhite;
    font-style: italic;
    text-decoration: solid gray;
    text-shadow: solid black;
    opacity: 1;
    display: flex;
    font-size: 30px;
    text-align: center;
    border: black;
    letter-spacing: 2px;
    border-radius:calc();
    


}

.right:hover{
    color: cadetblue;
}

.fight{
    background-color: aliceblue;
    font-size: 20px;
    color: gray;
    text-shadow: solid black;
    display: flex;
    display: ruby;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.fight:hover{
    color: burlywood;
}
hr{
    color:beige;
}
#true{
    color: aliceblue;
}
#go{
    color: aliceblue;
}

#joint{
    position: relative;
    left: 590px;
}*/

/*Clearing Floats*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    
/* Form wrapper styling */

.search-wrapper {
    width: 90%;
    border-radius: 40px;
  background: transparent;
    box-shadow: 0 4px 20px -2px #e9e9e9;
}

/* Form text input */

.search-wrapper input {
  padding-left: 20px;
    width: 80%;
    height: 20px;
    padding: 25px 25px;
    float: left;   
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #fff;
    border-radius: 40px;
    border-top-style: none;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
    
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  border-style: none;
}   

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom:5px;
    height: 40px;
    width: 110px;
    font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #198cff;
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  


.search-wrapper button:active,
.search-wrapper button:focus{  
    background: #198cff;
    outline: 0;  
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}     

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   
*, *:after, *:before {
    padding:0;
    margin:0;
    font-family:Arial;
  }
  .makeItHalf{
    width: 50%;
  }
  #coverImage{
    width: 25vw;
  }
  .onlyMobile{
    display: none;
  }
  @media (max-width:800px) {
      .d-flex{
     flex-direction: column;
      } 
      .gallery{
        display: none;
      }
      .makeItHalf{
        width: 100%;
      }
      #coverImage{
        width: 80vw;
      }
      .onlyMobile{
          display: block;
    }
  }
  
  .gallery ul {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    list-style:none;
    width:955px;
    height:450px;
    border-radius:3px;
    overflow:hidden;
    box-shadow:1px 1px 3px 1px;
  }
  
  
  .gallery li {
    position:relative;
    width:190px;
    height:450px;
    float:left;
    border-left:1px solid white;
    -webkit-transition:all 0.7s;
    -moz-transition:all 0.7s;
    transition:all 0.7s;
    box-shadow:-2px 0 10px 2px;
  }
  
  .gallery ul li:first-child {
    border:none;
  }
  
  .gallery span {
    display:block;
    position:absolute;
    bottom:0;
    width:50%;
    color:white;
    white-space:nowrap;
    padding:20px;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  
  }
  
  .gallery img {
    width:800px;
    height:450px;
  }
  
  .gallery ul:hover li {
    width:50px;  
  }
  
  
  .gallery ul li:hover {
    width:750px;
  }
  
  
  
  
  
  